USE [master]
GO
/****** Object:  Database [DANHGIA]    Script Date: 11/4/2025 1:58:21 PM ******/
CREATE DATABASE [DANHGIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DANHGIA', FILENAME = N'D:\SQL Instace Features\MSSQL14.MSSQLSERVER\MSSQL\DATA\DANHGIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DANHGIA_log', FILENAME = N'D:\SQL Instace Features\MSSQL14.MSSQLSERVER\MSSQL\DATA\DANHGIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DANHGIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DANHGIA]
GO
/****** Object:  Table [dbo].[Lien_Ket]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lien_Ket](
	[ID_LienKet] [int] IDENTITY(1,1) NOT NULL,
	[Anh] [nvarchar](max) NULL,
	[Link] [nvarchar](max) NULL,
 CONSTRAINT [PK_Lien_Ket] PRIMARY KEY CLUSTERED 
(
	[ID_LienKet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[ID_NguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[Ten_NguoiDung] [nvarchar](250) NULL,
	[MatKhau] [nvarchar](250) NULL,
	[Quyen] [int] NOT NULL,
 CONSTRAINT [PK_Nguoi_Dung] PRIMARY KEY CLUSTERED 
(
	[ID_NguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhat_Lien_Ket]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ Cập nhật dữ liệu (ảnh + link)
CREATE PROC [dbo].[sp_CapNhat_Lien_Ket]
    @ID_Lien_Ket INT,
    @Anh NVARCHAR(MAX),
    @Link NVARCHAR(MAX)
AS
BEGIN
    UPDATE Lien_Ket
    SET Anh = @Anh,
        Link = @Link
    WHERE ID_LienKet = @ID_Lien_Ket
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTiet_LK]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ChiTiet_LK]
	@ID_Lien_Ket int
as
select *
from Lien_Ket
where ID_LienKet = @ID_Lien_Ket
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSach_LienKet]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DanhSach_LienKet]
as 
select * 
from dbo.Lien_Ket
GO
/****** Object:  StoredProcedure [dbo].[sp_HienThi_Lien_Ket]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_HienThi_Lien_Ket]
@ID_Lien_Ket int   
as
select * from Lien_Ket
where ID_LienKet = @ID_Lien_Ket
GO
/****** Object:  StoredProcedure [dbo].[sp_Lien_Ket]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Lien_Ket]
as
select *from Lien_Ket
GO
/****** Object:  StoredProcedure [dbo].[sp_Sua_Lien_Ket]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[sp_Sua_Lien_Ket]
(
	@ID_Lien_Ket int,
	@Anh nvarchar(max),
	@Link nvarchar(max)
)
as 
update Lien_Ket
set Anh = @Anh , Link = @Link
where ID_LienKet = @ID_Lien_Ket
GO
/****** Object:  StoredProcedure [dbo].[sp_Themmoi_LienKet]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Themmoi_LienKet]
(
	@Anh nvarchar(MAX),
	@Link nvarchar(MAX)
)
as 
insert into Lien_Ket(Anh,Link)
values (@Anh, @Link)
GO
/****** Object:  StoredProcedure [dbo].[sp_Xoa_Lien_Ket]    Script Date: 11/4/2025 1:58:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Xoa_Lien_Ket]
 @ID_Lien_Ket int
as
delete Lien_Ket
where ID_LienKet = @ID_Lien_Ket
-- Chạy riêng ở cửa sổ mới để thêm dữ liệu(New Querry trống), chỉ chạy 1 lần sau khi đã xóa 1 dòng liên kết trong trình duyệt trên Chrome
-- Chú ý: Đã sửa lại tên cột từ "ID_LienKet" thành "Link" cho đúng
-- INSERT INTO dbo.Lien_Ket (Anh, Link)
-- VALUES (N'Anh_Lien_Ket_Screenshot (166).png', N'http://google.com');
-- GO

-- INSERT INTO dbo.Lien_Ket (Anh, Link)
-- VALUES (N'link (1)(1).png', N'http://youtube.com');
-- GO
GO
USE [master]
GO
