USE [master]
GO
/****** Object:  Database [NHOMTIN]    Script Date: 11/7/2025 7:53:15 PM ******/
CREATE DATABASE [NHOMTIN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NHOMTIN', FILENAME = N'D:\SQL Instace Features\MSSQL14.MSSQLSERVER\MSSQL\DATA\NHOMTIN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NHOMTIN_log', FILENAME = N'D:\SQL Instace Features\MSSQL14.MSSQLSERVER\MSSQL\DATA\NHOMTIN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NHOMTIN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NHOMTIN]
GO
/****** Object:  Table [dbo].[Nhom_Tin]    Script Date: 11/7/2025 7:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhom_Tin](
	[ID_NhomTin] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Nhom] PRIMARY KEY CLUSTERED 
(
	[ID_NhomTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tin_Tuc]    Script Date: 11/7/2025 7:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tin_Tuc](
	[ID_Tin] [int] IDENTITY(1,1) NOT NULL,
	[TenTin] [nvarchar](250) NOT NULL,
	[Anh] [nvarchar](250) NOT NULL,
	[NoiDung] [ntext] NOT NULL,
	[ID_Nhom] [int] NOT NULL,
 CONSTRAINT [PK_Tin_Tuc] PRIMARY KEY CLUSTERED 
(
	[ID_Tin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_DS_NhomTin]    Script Date: 11/7/2025 7:53:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_DS_NhomTin]
AS
BEGIN
    SELECT * FROM Nhom_Tin;
END
GO
USE [master]
GO
